<div class="archive-container">
    <div class="container content archive">
            {% for category, articles in categories %}
              {% if category in INCLUDE_CATEGORIES_IN_MAIN_PAGE %}
              <h2 id="{{ category|urlencode }}" style="padding-top: 50px; margin-top: -50px;">{{ category|capitalize }}</h2>
              <dl class="dl-horizontal">
                  {% for article in articles %}
                    {% if article.category == 'Selected publications' %}
                      <div class="bib">
                      <dt>{{ article.bib_journal }} <p> {{ article.bib_year }}</dt>
                      <dd><a href="http://scholar.google.com/scholar?q={{ "author:wassermann '%s'" % article.title | urlencode }}" target="_blank">{{ article.title }}</a> 
                      </dd>
                      </div>
                    {% elif article.category == 'Software' %}
                      <dt>
                        <a href="{{ article.docs }}" target="_blank"  title="{{article.description}}">
                            <i class="fa fa-book fa-2x"></i>
                          </a>
                          <a href="{{ article.github }}" target="_blank" title="{{article.description}}">
                            <i class="fa fa-github fa-2x"></i>
                          </a>
                      </dt>
                      <dd><span title="{{article.description}}"> {{ article.title }} </span></dd>
                    {% else %}
                      <dt>{{ article.locale_date}}</dt>
                      <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                    {% endif %}
              {% endfor %}
              </dl>
          {% endif %}
        {% endfor %}
    </div>
</div>
