{% extends "base.html" %}

{% block title %}{{ NEST_INDEX_HEAD_TITLE }} {% if articles_page.has_previous() %}- page {{ articles_page.number }} {% endif %}- {{ super() }}{% endblock title %}
{% block description %}{{ SITENAME }}, {{ SITESUBTITLE }}{% endblock description %}

{% block headerstyle %}
    {% if NEST_HEADER_IMAGES %}
    <div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; ">
    {% else %}
    <div class="header-container gradient">
    {% endif %}
{% endblock headerstyle %}

{% block header %}
    <div class="container header-wrapper">
        <div class="row">
              <div class="col-lg-12">
                  <div class="header-content">
                      <h1 class="header-title">{{ NEST_INDEX_HEADER_TITLE }}</h1>
                      <div class="header-underline"></div>
                      {% if NEST_INDEX_HEADER_SUBTITLE %}
                      <p class="header-subtitle header-subtitle-homepage">{{ NEST_INDEX_HEADER_SUBTITLE }}</p>
                      {% endif %}
                  </div>
              </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
    {% if DEFAULT_PAGINATION %} 
      {% for pti in PAGES_TO_INCLUDE_IN_INDEX %}
       {% for page in pages %}
        {% if page.title == pti %}
            <div class="archive-container">
              <div class="container content archive">
                {{ page.content }}
              </div>
            </div>
        {% endif %}
       {% endfor %}
      {% endfor %}
      {% include "categories_content.html" %}
      {% if INCLUDE_LAST_POSTS %}   
        <div class="archive-container">
            <div class="container content archive">
                <h2><a href="{{ SITEURL }}/{{ articles_page.url }}">{{ NEST_INDEX_CONTENT_TITLE }} {% if articles_page.has_previous() %}<small>- page {{ articles_page.number }}</small>{% endif %}</a></h2>
                <dl class="dl-horizontal">
                    {% for article in articles_page.object_list %}
                    <dt>{{ article.locale_date}}</dt>
                    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
      {% endif %}
    {% include 'pagination.html' %}
    {% else %}
      {% for pti in PAGES_TO_INCLUDE_IN_INDEX %}
       {% for page in pages %}
        {% if page.title == pti %}
            <div class="archive-container">
              <div class="container content archive">
                {{ page.content }}
              </div>
            </div>
        {% endif %}
       {% endfor %}
      {% endfor %}
      {% include "categories_content.html" %}
      {% if INCLUDE_LAST_POSTS %}   
      <div class="archive-container">
          <div class="container content archive">
              <h2><a href="{{ SITEURL }}/">{{ NEST_INDEX_CONTENT_TITLE }}</a></h2>
              <dl class="dl-horizontal">
                  {% for article in articles %}
                  <dt>{{ article.locale_date}}</dt>
                  <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
                  {% endfor %}
              </dl>
          </div>
      </div>
      {% endif %}
    {% endif %}

    {% if TWITTER_USERNAME %}
     <div class="archive-container">
          <div class="container content archive">
            <h2 id="Latest%20News">Latest News</h2>

          <a class="twitter-timeline"
            data-widget-id="{{ TWITTER_WIDGET }}"
            href="https://twitter.com/{{ TWITTER_USERNAME }}"
            data-chrome="noheader nofooter"
            data-tweet-limit="5"
            data-aria-polite="assertive"
            width="80%"
            height="300"
            >
            Tweets
          </a>
          <script>!
            function(d,s,id){
                var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
                if(!d.getElementById(id)){
                  js=d.createElement(s);
                  js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
                  fjs.parentNode.insertBefore(js,fjs);
                }
            }(document,"script","twitter-wjs");
          </script>
          </div>
        </div>
    {% endif %}

{% endblock content %}

